# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyd
*.pyo

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python runner or packer
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / Coverage reports
htmlcov/
.tox/
.nosexy
.nosetests
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
#  Usually these are generated automatically
.ipython/

# pyenv
#   Selects a specific Python version for a folder
.python-version

# pipenv
#   Pipfile.lock contains concrete hashes of dependencies
#   Usually it is tracked in git but if you specify dependencies via setup.py, ignore it
# Pipfile.lock

# poetry
#   Similar to pipenv
# poetry.lock

# pdm
.pdm.toml
.pdm-plugins/
__pdm-build/

# PEP 582; personal packages directory for python
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyder-py3

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static analyzer
.pytype/

# Cython debug symbols
cython_debug/

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Editor configurations
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# ML project specific runs
/static/lime/explanation.html
run_err.log
train.log
run_err_utf8.log
*.pkl
# Explicitly track model.pkl for project deployment
!iris_flask_app/model.pkl
